asgiref==3.9.1
Brotli==1.1.0
cffi==1.17.1
click==8.3.1
crispy-bootstrap5==2025.6
cssselect2==0.8.0
Django==5.2.5
django-crispy-forms==2.4
django-decouple==2.1
fonttools==4.59.2
gunicorn==25.0.3
Markdown==3.8.2
packaging==26.0
pillow==11.3.0
psycopg2-binary==2.9.11
pydyf==0.11.0
pyphen==0.17.2
pytokens==0.4.1
sqlparse==0.5.3
sweetify==2.3.1
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
